canvasapi
click
kombu
loguru
nbgrader
notifiers
paramiko>=2.7.2
pendulum>=2.1.2
pydantic
requests>=2.23.0
scp
urllib3>=1.25.9
gitpython
docker
# git+https://github.com/trevorcampbell/fwirl@main
# git+https://github.com/ubc-dsci/dictauth@main

