GitPython==2.1.11
nbgrader==0.6.0.dev0
pendulum==2.0.3
pytest==3.6.3
python-crontab==2.3.4
python-dateutil==2.7.3
pytzdata==2018.5
requests==2.19.1
terminaltables==3.1.0
tqdm==4.23.4
traitlets==4.3.2
