[zfs]
name=ZFS {% if zfs_module_dkms %}dkms{% endif %} on Linux for EL 7 
baseurl=http://download.zfsonlinux.org/epel/{{ zfs_distro_version }}/{% if not zfs_module_dkms %}kmod/{% endif %}$basearch/
enabled=1
metadata_expire=7d
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
