# Add any extra SSH keys here.
# These will be merged with the ones defined in group_vars/all/local_vars.yml
#ssh_public_keys:

admin_email: user@example.com
zfs_disk_1: /dev/sdc
zfs_disk_2: /dev/sdd

# Uncomment this to use overlay2
# Keep this commented out to use ZFS
#openstack_ephemeral_docker_disk: /dev/sdd

# Domain and SSL settings
domain: subdomain.example.com
callysto_ssl_cert_dir:

# Required for the callyst-html task
callysto_html_longname: Callysto Dev

# valid values:
#   * dummy: username: anything, no password
#   * dummypw: username: anything, password via jupyterhub_authenticator_dummy_password
#   * shib: log in through ssp/shib
#   * pam: log in with system users
#
jupyterhub_authenticator: dummy

# uncomment this when using the dummypw authenticator
#jupyterhub_authenticator_dummy_password: dummy

# valid values:
#
#   * syzygysystemuserspawner: standard
#   * syzygyswiftsystemuserspawner: openstack swift storage backend
#
jupyterhub_spawner: syzygyswiftsystemuserspawner

# The docker image to use for notebooks
jupyterhub_docker_image: 'docker.io/callysto/callysto-swift'
jupyterhub_docker_container: 'docker.io/callysto/callysto-swift:latest'

# Set to True if wanting to speed up initialization
disable_update: False

# Set to False to get a production-ready certificate
dehydrate_test_cert: True

# uncomment this to run simplesamlphp in develop mode (uses hard-coded test users)
#ssp_develop: True

ssp_idp_multi_sources:
  - type: google
    display_name: Google
    client_id: 1234567890.apps.googleusercontent.com
    client_secret: supersecurepassword
  - type: microsoft
    display_name: Microsoft
    client_id: 123456790-1234-123456789
    client_secret: supersecurepassword
  - type: saml
    display_name: SAML Federation
    metadata_url: https://metadata.example.com/Shibboleth.sso/Metadata

# Generate a new salt and admin password with: "< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c"${1:-32}";echo;"
#ssp_idp_multi_salt:
#ssp_idp_multi_admin_password:
#ssp_refresh_key:

# Generate a new key-pair with
# openssl req -new -x509 -days 3650 -nodes -sha256 -out saml.crt -keyout saml.pem -subj "/C=CA/ST=Alberta/L=Calgary/O=Callysto Dev/OU=Infra/CN=hub-dev.callysto.farm"
ssp_idp_multi_saml_cert: |
  -----BEGIN CERTIFICATE-----
  MIIDXTCCAkWgAwIBAgIJAM7OPzrFix+TMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
  BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
  aWRnaXRzIFB0eSBMdGQwHhcNMTgwNTAxMjA1MDMwWhcNMTkwNTAxMjA1MDMwWjBF
  -----END CERTIFICATE-----

ssp_idp_multi_saml_key: |
  -----BEGIN PRIVATE KEY-----
  MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDiaTntm06TlENT
  g514pZcYkYQipmXLI3fKOQfI5NGlIj/fLwMSN7dyDAA2GR6PFsxTxQsoXCNhVLAA
  Zfdenm/fi4er22HcrvzbtHVJVM6KXDnr7LW3blw1aekMTLs3WkTeschrdNWVHKB/
  9b4gAt+W3TfcXbMy+515XbIO6pWIo/m7TXgbepo7J53mgRAUhMFVREN6WxdktBaQ
  -----END PRIVATE KEY-----

# OpenStack auth information
# Fill this in when using the syzygyswiftsystemuserspawner spawner
#openstack_auth_url: "https://example.com:5000/v3"
#openstack_username: "username"
#openstack_password: "password"
#openstack_project_name: "project"
#openstack_project_domain_name: "Default"
#openstack_user_domain_name: "Default"
#openstack_region_name: "RegionOne"
